body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a1a1a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.col-sm-12{
  background-color: rgb(233, 233, 233);
  z-index: 10;
  
}
.img-fluid{
  filter: grayscale(100%);
  opacity: 0.9;
}
.display-4{
  color: rgb(255, 255, 255);
}
.col-sm-1{
  background-color: rgb(134, 40, 40);
  background-color: rgba(39, 39, 39, 0);
  border-radius: 0px 0px;
}
.bar{
  background-color: rgb(39, 39, 39);
  height: 0.5rem;
  margin: 0%;
}
.jumbotron{
  margin: 0px;
  background-color: rgb(39, 39, 39);
  color: rgb(235, 235, 235);
  border-radius: 0px 0px;
  z-index: 10;
  
}
#str1{
  display: none;
}
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
